/* begin banner */
div.banner {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 5px 0px;
    padding: 10px 0px;
}
img.logo {
    max-height: 100px;
}
.page-title{
    color: white;
    /* color: var(--titel); */
    font-size: 3em;
}
/* einde banner */
/* begin navbar */
.navbar{
    text-align: center;
    margin: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--back);
}
.navbar ul{
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.navbar ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    color: var(--titel);
    /* border-bottom: 2px solid var(--titel); */
}
.navbar li#current{
    border-bottom:2px solid black;
}
.navbar li a:hover{
    text-decoration: underline;
    /* background-color: var(--titel); */
}
span{
    color: var(--titel);
    text-decoration: underline;
    font-style: italic;
}
/* einde navbar */