:root {
    --titel: #0090e3;
    --div: whitesmoke;
    --tekst: black;
    --back: rgba(255, 255, 255, 0.4);
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

div {
    display: block;
}

.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px, 75px, 75px, 75px;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "product product product product"
        "ons ons support support"
        "footer footer footer footer"
    ;
}

span {
    color: var(--titel);
    text-decoration: underline;
    font-style: italic;
}

/* einde navbar */

/* begin product */
.product {
    grid-area: product;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}

.producttekst {
    background-color: var(--back);
    padding: 10px;
}

/* eind product */

/* begin ons */
.ons {
    grid-area: ons;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}

.onstekst {
    background-color: var(--back);
    padding: 10px;
}

/* einde ons */

/* begin support */
.support {
    grid-area: support;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}

.supporttekst {
    background-color: var(--back);
    padding: 10px;
}

/* einde suport */

/* begin span link */
span.link {
    font-style: normal;
    border-radius: 3px;
    padding: 2px 10px;
    text-decoration: none;
}

span.link:hover {
    text-decoration: underline;
}

/* einde span link */

/* begin footer */
.footer {
    grid-area: footer;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}

.footertekst {
    background-color: var(--back);
    padding: 10px;
}

/* einde footer */


/* begin tekst */
a {
    color: var(--titel);
    text-decoration: none;
}

h2 {
    /* background-color: var(--titel); */
    color: var(--titel);
    font-size: 30px;
}

p {
    /* background-color: var(--div); */
    color: var(--tekst);
}

/* einde tekst */

/* begin images */
img {
    height: 100%;
    width: auto;
    margin: 5px;
}

img.device {
    max-width: 250px;
    max-height: 250px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

/* einde images */