:root{
    --titel: #0090e3;
    --div: whitesmoke;
    --tekst: black;
    --back: rgba(255, 255, 255, 0.4);
    --hover: rgb(0,102,51);
}
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
}
div{
    display: block;
}
.grid-container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px, 75px, 75px, 75px;
    grid-template-areas:
    "banner banner banner banner"
    "navbar navbar navbar navbar"
    "product product product product"
    "ons ons support support"
    "footer footer footer footer"
    ;
}
/* begin banner */
.banner{
    grid-area: banner;
    text-align: center;
    margin: 5px;
    background-color: var(--titel);
}
/* einde banner */
/* begin navbar */
.navbar{
    grid-area: navbar;
    text-align: center;
    margin: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--back);
}
.navbar ul{
    grid-area: navbar;
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.navbar ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    background-color:var(--titel);
    border-bottom: 2px solid var(--titel);
}
.navbar li#current{
    border-bottom:2px solid black;
}
.navbar li a:hover{
    background-color: var(--hover);
}
span{
    color: var(--back);
}
/* einde navbar */

/* begin product */
.product{
    grid-area: product;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}
.producttekst{
    background-color: var(--back);
    padding: 10px;
}
/* eind product */

/* begin ons */
.ons{
    grid-area: ons;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}
.onstekst{
    background-color: var(--back);
    padding: 10px;
}
/* einde ons */

/* begin support */
.support{
    grid-area: support;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}
.supporttekst{
    background-color: var(--back);
    padding: 10px;
}
/* einde suport */

/* begin span link */
span.link{
    font-style: normal;
    border-radius: 3px;
    padding: 2px 10px;
    background-color: var(--titel);
    color: white;
}
span.link:hover{
    background-color: var(--hover);
    border: 1px solid black;
}
/* einde span link */

/* begin footer */
.footer{
    grid-area: footer;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
}
.footertekst{
    background-color: var(--back);
    padding: 10px;
}
/* einde footer */


/* begin tekst */
a{
    color: white;
    text-decoration: none;
}
h2{
    background-color: var(--titel);
    color: tekst;
}
p{
    /* background-color: var(--div); */
    color: var(--tekst);
}
/* einde tekst */

/* begin images */
img{
    height: 100%;
    width: auto;
    margin: 5px;
}
/* einde images */