<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <!-- <link th:href="@{/css/home.css}" rel="stylesheet" /> -->
</head>
<body>
    <div class="grid-container">
        <div class="banner">
            <h1>Stof Detector</h1>
        </div><br>
        <!-- begin navbar -->
        <div class="navbar">
            <div class="nav">
                <ul>
                    <li>
                        <a href="../home/homme.html"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="../medische-informatie/medische-informatie.html">Medische-informatie</a>
                    </li>
                    <li>
                        <a href="../webshop/webshop.html">Webshop</a>
                    </li>
                    <li>
                        <a href="../support/support.html">Support</a>
                    </li>
                    <li>
                        <a href="../signin-signup/signin.html">Inlog</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- einde navbar -->

        <!-- begin product -->
        <div class="product">
            <div class="producttekst">
                <h2>Ons product</h2>
                <img src="../img/device.png" alt="een SmokeSensor apparaat" class="device">
                <p>
                    Ons product komt hier met uitleg te staan<br>
                    Moet nog aangepast worden<br>
                </p>
                <span class="link"><a href=""> -> Meer lezen</a></span>
            </div>
        </div>
        <!-- einde product -->

        <!-- begin over ons -->
        <div class="ons">
            <div class="onstekst">
                <h2>Over ons</h2>
                <p>
                    Hier komt informatie over de gekke challengers,
                    maar die moet nog gemaakt worden.
                </p>
                <span class="link"><a href="">-> Meer lezen</a></span>
            </div>
        </div>
        <!-- einde over ons -->

        <!-- begin support -->
        <div class="support">
            <div class="supporttekst">
                <h2>Support</h2>
                <p>Email: info@gekkechallengers.nl<br>
                <br>Email: info@gekkechallengers.nl<br>
                <br>Email: info@gekkechallengers.nl</p>
                <span class="link"><a href="">-> Bereik ons</a></span>
            </div>
        </div>
        <!-- einde support -->

        <!-- begin footer -->
        <div class="footer">
            <div class="footertekst">
                <h2>Footer (komt andere titel)</h2>
                <p>Hier komt info in het kort te staan</p>
            </div>
        </div>
        <!-- einde footer -->
    </div>
</body>
</html>