<head>
    <link rel="stylesheet" href="medische-informatie.css">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <h1> Dust Detector </h1>
    <div class="navbar">
        <div class="nav">
            <a href="../home/index.html" class="nav-text"> Home </a>
        </div>
        <div class="nav">
            <a href="../signin-signup/signin.html" class="nav-text"> Inloggen / Registreren </a>
        </div>
    </div>
    <h2 class="page-title"> Waarom is stof een probleem? </h2>
    <div class="section">
        <div>
            <h3> Medische informatie </h3>
            <p> Medische informatie blablablabla </p>
        </div>
    </div>
</body>
