<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <!-- Thymeleaf navbar fragment is inserted here -->
    <header th:insert="~{fragments/header :: header}"></header>

    <div id="errorPopup" style="display: none;">
        <p class="error-message"> U kon niet worden ingelogd :( </p>
        <button th:onclick="closePopup()" class="popup-button"> OK </button>
    </div>

    <div class="wrapper">
        <form th:action="@{/signin}" method="post" class="login-content">
            <h2 class="page-title"> Inloggen </h2>
            <label class="form-label"> Gebruikersnaam </label>
            <input type="text" name="username" id="username" placeholder="Username" oninput="checkInputs()"/>
            <label class="form-label"> Wachtwoord </label>
            <input type="password" name="password" id="password" placeholder="Password" oninput="checkInputs()" />
            <br>
            <button 
                th:onclick="'sendSigninRequest(event);'" 
                id="submit-button"
                disabled
                class="submit"> 
                OK 
            </button>
        </form>
        <p>
            Nog geen account? <span class="link"> <a th:href="@{/signup}"> Registreren </a> </span>
        </p>
    </div>
</body>

</html>

<script>
    function sendSigninRequest(event) {
        event.preventDefault();

        console.log("Signin POST Request wordt verstuurd");

        fetch('/signin', {
            method: 'POST',
            body: new FormData(document.querySelector('.login-content'))
        }).then(response => {
            console.log("Response: " + response.status + ", Body: " + JSON.stringify(response));
            
            if (response.status === 200) {
                window.location.replace("/dashboard");
            } else {
                console.log("Gebruiker kon niet worden ingelogd, verkeerde combinatie van gebruikersnaam en wachtwoord");
                document.getElementById('errorPopup').style.display = 'block';
            }
        }).catch(error => {
            console.log("Gebruiker kon niet worden ingelogd");
        })
    }

    function closePopup() {
        document.getElementById("errorPopup").style.display = 'none';
    }

    function checkInputs() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var submitButton = document.getElementById('submit-button');

        if (username.trim() !== '' && password.trim() !== '') {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'disabled');
        }
    }
</script>