<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/signup.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    
    <body>
        <!-- Thymeleaf navbar fragment is inserted here -->
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="wrapper">
            <div class="register-content">
                <h2> Registreren </h2>
                <label> Gebruikersnaam </label>
                <input type="text" id="username">
                <label> Wachtwoord </label>
                <input type="text" id="password">
                <label> Herhaal Wachtwoord </label>
                <input type="text" id="repeatPassword">
                <label> Email </label>
                <input type="text" id="email">
                <label> Telefoonnummer </label>
            <input type="text" id="phone">
            </div>
            <button th:onclick="submitSignUp()"> OK </button>
            <p>
                Al een account? <span class="link"> <a th:href="@{/signin}"> Inloggen </a> </span>
            </p>
        </div>
    </body>
</html>

<script th:inline="javascript">
    function submitSignUp() {
        console.log('Gebruiker heeft geprobeerd te registreren!');

        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var email = document.getElementById('email').value;
        var phoneNumber = document.getElementById('phone').value;

        var signUpData = {
            username,
            password,
            email,
            phoneNumber
        };

        console.log('Will send POST request to server:');
        console.log(signUpData);

        // Send HTTP POST Request to /api/signup with JavaScript Fetch API.
        fetch('/api/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(signUpData),
        })
        .then(response => {
            if (response.ok) {
                console.log('User registered successfully');
            } else { // Request was sent, but Response is error.
                console.error('Error registering user');
            }
        })
        .catch(error => console.error('Error:', error)); // Request could not be sent
    }
</script>
