<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/support.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <h2 class="page-title"> Support </h2>
    <div class="section">
        <div>
            <h3> Klantenservice </h3>
            <p>
                Onze klantenservice is beschikbaar van maandag tot en met vrijdag, van 9:00 tot 18:00. 
            </p>
            <h3> Contact </h3>
            <p>
                Voor direct contact bel +31 0683927406 of stuur een e-mail naar destofdetector@gmail.com. 
            </p>
        </div>
    </div>
</body>

</html>